# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# FastAPI / Python cache
.pytest_cache/
.mypy_cache/

# SQLite database
*.sqlite3
*.db

# Node / Vue
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db